*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: aqua;
}
label{
    display: inline-block;
    text-align: right;
    width: 40%;
    padding: 5px;
    vertical-align: top;
    margin-top: 10px;
}
input{
    height: 20px;
    width: 280px;
    padding: 5px;
    margin: 10px;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
}
h1{
    margin-bottom: 10px;
    text-align: center;
}
p{
    text-align:center;
}
select{
    height: 20px;
    width: 280px;
    padding: 5px;
    margin: 10px;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
}
#submit {
    background-color: #1a8cff;
    border-radius: 4px;
    color: white;
    font-size: 1em;
    height: 40px;
    width: 96px;
    margin: 10px;
    border: 0px solid;
  }
